#wrap {
    width: 100%;
    height: 4000px;
}
.container {
    width: 2000px;
    margin: 0 auto;
}
#header {
    padding: 52px 101px;
    display: flex;
    justify-content: space-between;
}
#header .logo {
    display: flex;
}
#header .logo .logo_icon {
    width: 35px;
    height: 35px;
    background: #000;
    margin-right: 15px;
    background: url(../img/imgsp.svg);
}
#header .logo span a {
    font-size: 22px;
    padding-top: 3px;
    font-weight: bold;
}
#header .menu {
    display: flex;
    font-weight: 500;
    font-size: 17px;
}
#header .menu li {
    display: inline;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
}
#header .menu li a {
    display: inline-block;
    padding: 0 10px;
}
#header .menu li a:hover {
    border-bottom: 2px solid #000;
}

#header .member {
    display: flex;
   
}
#header .member .search {
    width: 24px;
    height: 24px;
    background: #000;
    margin-right: 30px;
    background: url(../img/imgsp.svg);
    background-position: -50px 0;
    
}
#header .member .union {
    width: 24px;
    height: 24px;
    margin-right: 30px;
    background: url(../img/imgsp.svg);
    background-position: -100px 0;
}
#header .member .person {
    width: 24px;
    height: 24px;
    background: url(../img/imgsp.svg);
    background-position: -150px 0;
}
/* //헤더 영역 */
.text_imgtype01 {
    margin-left: 101px;
    width: 100%;
    height: 900px;
}

.text_imgtype01 .title p { 
    padding-top: 140px;
    font-size: 80px;
    letter-spacing: -1.6;
    font-weight: bold;
}
.text_imgtype01 .text_img2 {
    display: flex;
}
.text_imgtype01 .left {
    flex: 40% 0;
    padding-top: 55px;
    width: 500px;
}
.text_imgtype01 .left span {
    font-size: 18px;
}
.text_imgtype01 .right {
    flex: 0 60%;
    width: 100%;
    height: 613px;
    background: url(../img/mistriumbg.png) right no-repeat;
    margin: 0 auto;
}
.text_imgtype01 .btn a {
    margin-top: 50px;
    font-size: 16px;
    display: inline-block;
}
.text_imgtype01 .btn .quote {
    padding: 9px 30px;
    background: #c4a586;
    color: #fff;
    margin-right: 26px;
}
.text_imgtype01 .btn .video {
    padding: 9px 46px;
    border: 1px solid #c4a586;;
    background: #fff;
    color: #c4a586;
}

.someof .someof01 {
    height: 300px;
    background: #444;
}
.text_img3 {
    display: flex;
}
.text_img3 .t3_right {
    width: 50%;
    height: 400px;
    background: #555;
}
.text_img3 .t3_left {
    width: 50%;
    height: 400px;
    background: #666;
}
.products {
    padding: 150px 200px;
    
}
.products .pro_type01 {
    height: 1500px;
    background: #777;
}
.text_img4 {
    padding: 150px 200px;
}
.text_img4 .t4 { 
    height: 1000px;
    background: #888;
}

#footer {
    width: 100%;
    height: 400px;
    background: #000;
}
