/* 전체 레이아웃 */
#wrap {
    height: 2000px;
}

/* 컨테이너 */
.container {
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(0,0,0,3); */
}


/*  헤더01 float을 사용해 레이아웃을 만든 경우
    float으로 인한 영역 깨짐 현상 발생(하이트 값을 인식 못함) 
    1. 깨지는 영역에 clear: both; 설정 
    2. 부모 영역한테 overflow: hidden; 설정 
    3. 가상의 영역(clearfix) 속성을 설정
#header {
    border-bottom: solid 1px #eee;
    padding: 10px;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    float: left;
    width: 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    float: left;
    width: 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    display: inline-block;
    padding: 20px 30px;
    margin: 0 10px;
}
#header .member {
    float: right;
    width: 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 9px 22px;
    font-size: 16px;
}

*/

/* 헤더02 flex를 사용해 레이아웃을 만든 경우 */
/* #header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    min-width: 1200px;
    white-space: nowrap;
}
#header .logo {
    flex: 0 0 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    flex: 0 0 60%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    display: inline-block;
    padding: 20px 30px;
}
#header .member {
    flex: 0 0 20%;
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 9px 22px;
}
*/

/* 헤더03 Grid를 사용하는 경우 */
#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    min-width: 1200px;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    transition: background 0.4s;
}
#header .menu li a:hover {
    background: #f5f5f5;
    border-radius: 10px;
}

#header .member {
    text-align: right;
    padding: 10px 18px;
}
#header .member a {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 9px 22px;
    transition: all 0.3s;
}
#header .member a:hover {
    background: #000;
    color: #fff;
}

/* 배너 */
#banner {}

.img_type {
    width: 100%;
    height: 700px;
    /* background-image: url(../img/bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    background: url(../img/bg01.jpg) no-repeat center / cover;
}

/* 
    웹 사이트에서 이미지를 표현하는 방법
    1. HTML 태그를 통해서 : img 태그 : 의미가 있는 이미지(로고, 메뉴) --> alt(대체 문자)
    2. CSS 속성을 통해서 : background 속성 : 의미가 없는 이미지(배경, 색표현) -->ir효과(대체 문자를 CSS 속성으로 표현)
    3. 이미지 스프라이트 : background ir 효과를 통해서 이미지를 표현
*/

/* 이미지/텍스트 유형  */
/* 유형1(img_text_type01) */
.img_text_type01 {
    padding: 150px 0;
    overflow: hidden;
}
.img_text_type01 .text {
    float: left;
    height: 530px;
    width: 386.66px;
    margin-right: 20px;
}
.img_text_type01 .text .text_title {
    font-family: 'GmarketSans';
    font-size: 50px;
    font-weight: 500;
    margin: 70px 0 45px -4px;
}
.img_text_type01 .text .text_desc {
    font-family: 'NEXONLv1Gothic';
    font-size: 18px;
    font-weight: 300;
    color: #888;
    margin-bottom: 55px;
}
.img_text_type01 .text .text_more {
    font-family: 'NEXONLv1Gothic';
    font-size: 18px;
}

.img_text_type01 .text .text_more a {
    color: #af3029;
}
.img_text_type01 .text .text_more svg {
    vertical-align: 2.5px;
}

.img_text_type01 .img1 {
    float: left;
    height: 530px;
    width: 386.66px;
    margin-right: 20px;
    background-image: url(../img/img_text_bg1.jpg);
    background-size: 100%;
}
.img_text_type01 .img2 {
    float: left;
    height: 530px;
    width: 386.66px;
    background-image: url(../img/img_text_bg2.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
    .img_text_type01 .img1 {
            background-image: url(../img/img_text_bg1@2x.jpg);
        }
    .img_text_type01 .img2 {
        background-image: url(../img/img_text_bg2@2x.jpg);
    }
}
@media (-webkit-min-device-pixel-ratio: 2.5) {
    .img_text_type01 .img1 {
            background-image: url(../img/img_text_bg1@3x.jpg);
        }
    .img_text_type01 .img2 {
        background-image: url(../img/img_text_bg2@3x.jpg);
    }
}

/* 이미지/텍스트 유형(img_text_type02) */
.img_text_type02 {
    background: #f5f5f5;
    overflow: hidden;
    padding: 150px 0;
    min-width: 1200px;
}
.img_text_type02 .left {
    float: left;
    height: 535px;
    width: 48.5%;
    background: url(../img/img_text_bg3.jpg) no-repeat center center;
    background-size: cover;
    margin-right: 1.5%;
}
.img_text_type02 .right {
    font-family: 'GmarketSans';
    float: left;
    height: 535px;
    width: 48.5%;
    margin-left: 1.5%;
}
.img_text_type02 .right .sub {
    color: #7c7c7c;
    margin: 43px 0 10px 0;
    display: inline-block;
    /* text-decoration: underline;
    text-underline-position: under; */
    border-bottom: 1px solid #7C7C7C;

}
.img_text_type02 .right .title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 38px;
    white-space: nowrap;
}
.img_text_type02 .right .desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 38px;
    white-space: nowrap;
}
.img_text_type02 .right .view {
    font-size: 24px;
    font-weight: 300;
    padding: 9px 46px;
    display: inline-block;
    background: #000;
    color: #fff;
}

/* 이미지 유형1(img_type01) */
.img_type01 {
    padding: 150px 0;
    height: 500px;
    margin-bottom: 500px;
    font-family: 'GmarketSans';
}
.img_type01 h3 {
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 30px;
}
.img_type01 h3 em {
    font-size: 20px;
    color: #777;
    vertical-align: -1.5px;
}
.img_type01 .img-wrap {
    display: flex;
    justify-content: space-between;
}
.img_type01 .img-wrap .left {
    width: 590px;
    height: 356px;
    background: url(../img/img_type_bg01.jpg);
    position: relative;
}
.img_type01 .img-wrap .right {
    width: 590px;
    height: 356px;
    background: url(../img/img_type_bg02.jpg);
    position: relative;
}
.img_type01 .img-wrap .left-cont {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.img_type01 .img-wrap .right-cont {
    padding: 20px;
    background: rgba(119, 75, 40, 0.5);
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.img_type01 .img-wrap h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}
.img_type01 .img-wrap p {
    font-size: 14px;
    color: #fff;
    padding-right: 20px;
    margin-bottom: 15px;
}
.img_type01 .img-wrap .left-cont a {
    background: #182D4E;
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
}
.img_type01 .img-wrap .right-cont a {
    color: #fff;
    display: inline-block;
    text-decoration: underline;
    text-underline-position: under;
    
}


/* 이미지 유형2(img_type02) */
.img_type02 {}