#wrap {
    width: 100%;
    height: 2000px;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
#header {
    padding: 52px 101px;
    display: flex;
    justify-content: space-between;
}
#header .logo {
    display: flex;
}
#header .logo .logo_icon {
    width: 35px;
    height: 35px;
    background: #000;
    margin-right: 15px;
    background: url(../img/imgsp.svg);
}
#header .logo span a {
    font-size: 22px;
    padding-top: 3px;
    font-weight: bold;
}
#header .menu {
    display: flex;
    font-weight: 500;
    font-size: 17px;
}
#header .menu li {
    display: inline;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
}
#header .menu li a {
    display: inline-block;
    padding: 0 10px;
}
#header .menu li a:hover {
    border-bottom: 2px solid #000;
}

#header .member {
    display: flex;
   
}
#header .member .search {
    width: 24px;
    height: 24px;
    background: #000;
    margin-right: 30px;
    background: url(../img/imgsp.svg);
    background-position: -50px 0;
    
}
#header .member .union {
    width: 24px;
    height: 24px;
    margin-right: 30px;
    background: url(../img/imgsp.svg);
    background-position: -100px 0;
}
#header .member .person {
    width: 24px;
    height: 24px;
    background: url(../img/imgsp.svg);
    background-position: -150px 0;
}
/* //헤더 영역 */


#banner {
    background: url(../img/mistriumbg.png) right  no-repeat;
    height: 853px;
    margin-top: 126px;
}
.banner_bg {
    width: 1249px;
    margin: 0 auto;
}
.banner_bg h2 {
    font-size: 80px;
    line-height: 0.95;
    letter-spacing: -1.6px;
    color: #292019;
}
.banner_bg p {
    font-size: 18px;
    text-align: left;
    width: 432px;
    margin-top: 55px;
    color: #72696a
}
.banner_btn {
    display: flex;
    margin-top: 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
}
.banner_btn .btn1 {
    padding: 21px 45px 21px 36px;
    background-color: #c4a586;
    color: #fff;
}
.banner_btn .btn2 {
    padding: 21px 53px 21px 55px;
    color: #c4a586;
    border: 1px solid #c4a586;
    margin-left: 26px;
}
.banner_txt {
    text-align: center;
    margin-top: 134px;
    font-weight: bold;
}
.banner_icon {
    display: flex;
    justify-content:center;
    margin-top: 72px;
}
.banner_icon .icon01 {
    width: 96px;
    height: 47px;
    background: url(../img/logo1.png) no-repeat;
    margin-right: 98px;
}
.banner_icon .icon02 {
    width: 109px;
    height: 43px;
    background: url(../img/logo2.png) 0 5px no-repeat;
    margin-right: 72px;
}
.banner_icon .icon03 {
    width: 147px;
    height: 61px;
    background: url(../img/logo3.png) 0 -6px no-repeat;
    margin-right: 72px;
}
.banner_icon .icon04 {
    width: 110px;
    height: 37px;
    background: url(../img/logo4.png) 0 5px no-repeat;
    margin-right: 109px;
}
.banner_icon .icon05 {
    width: 67px;
    height: 38px;
    background: url(../img/logo5.png) 0 10px no-repeat;
    margin-right: 107px;
}
.banner_icon .icon06 {
    width: 122px;
    height: 36px;
    background: url(../img/logo6.png) 0 12px no-repeat;
}

/* img_text01 */
.img_text01 {
    display: flex;
    margin-top: 198px;
}
.img_text01 .cont1 {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 388px;
    background-color: #FCEFE9;
}
.img_text01 .cont1 .img {
    width: 409px;
    height: 351px;
    background: url(../img/furniture01.png) no-repeat;
    margin: 19px 44px 0 0;
}
.img_text01 .cont2 {
    display: flex;
    justify-content: start;
    width: 50%;
    height: 388px;
    background-color: #fae2c8;
}
.img_text01 .cont2 .desc {
    margin-left: 67px;
}
.img_text01 .cont2 .img {
    width: 351px;
    height: 216px;
    background: url(../img/furniture02.png) no-repeat;
    margin-top: 106px;
    margin-left: 59px;
}
.img_text01 h3 {
    font-size: 34px;
    font-weight: bold;
    color: #3d3d3f;
    margin-top: 110px;
    line-height: 1.29;
}
.img_text01 p {
    font-size: 20px;
    letter-spacing: 0.6px;
    margin-top: 91px;
}

/* 이미지 텍스트02 */
.img_text02 {
    margin-top: 173px;
}
.img_text02 .header {
    width: 1041px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.img_text02 .header .logo {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0.5;
    color: #3d3d3f;
}
.img_text02 .header .tab {
    margin-top: 30px;
}
.img_text02 .header .tab ul {
    display: flex;
}
.img_text02 .header .tab li {
    margin: 0 100px 0 10px;
}
.img_text02 .header .tab li a {
    font-size: 23px;
    color: #b9b7b6;
}
.img_text02 .header .tab li a:hover {
    color: #3d3d3f;
}
.img_text02 .header .btn {
    display: flex;
    margin-top: 35px;
    position: relative;
}
.img_text02 .header .btn .btn_txt {
    font-size: 17px;
    color: #3d3d3f;
    margin-right: 28px;
}
.img_text02 .header .btn .btn_box {
    width: 34px;
    height: 19px;
    background-color: #e9e9e9;
    margin-top: 4px;
}
.img_text02 .header .btn .btn_arrow {
    width: 25px;
    height: 17px;
    background: url(../img/imgsp.svg);
    background-position: -200px 0;
    position: absolute;
    top: 6px; right: 17px;
}
.img_text02 .nav {
    width: 421px;
    height: 18px;
    margin: 0 auto;
    margin-top: 111px;
}
.img_text02 .nav ul {
    display: flex;
    justify-content: center;
}
.img_text02 .nav li {
    margin: 0 30px;
}
.img_text02 .nav li a {
    font-size: 18px;
    color: #b9b7b6;
}
.img_text02 .nav li a:hover {
    color: #3d3d3f;
}
.img_text02 .iT {
    width: 312px;
    height: 305px;
    background-color: #fff4e8;
}
.img_text02 .atc {
    width: 137px;
    height: 40px;
    background-color: #d9ab82;
    border-radius: 40px;
    position: absolute;
    left: 28%; top: -7%;
    display: flex;
}
.img_text02 .atc_txt {
    font-size: 14px;
    color: #fff;
    padding: 10px 0 0 14px;
}
.img_text02 .atc_bk {
    margin: 7px 0 0 5px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.250);
    border-radius: 20px;
}
.img_text02 .atc_bk .bk_img {
    width: 20px;
    height: 20px;
    background: url(../img/imgsp.svg);
    background-position: -250px 0;
    margin: 5px 0 0 5px;
}
.img_text02 .name {
    font-size: 26px;
    font-weight: bold;
    color: #3d3d3f;
    margin: 35px 0 20px 51px;
}
.img_text02 .price {
    display: flex;
    margin-left: 51px;
}
.img_text02 .r_price {
    margin-right: 38px;
    font-size: 19px;
    font-weight: 500;
}
.img_text02 .o_price {
    font-size: 15px;
    font-weight: 500;
    color: #a9a7a6;
    margin-top: 5px;
    text-decoration: line-through;
}
.img_text02 .img_container01 {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    margin: 0 auto;
    margin-top: 150px;
}
.img_text02 .img_container01 .img_txt01 {
    position: relative;
}
.img_text02 .img_container01 .img_txt01 .img {
    width: 250px;
    height: 280px; 
    background: url(../img/Product01.png) -98px -44px no-repeat;
    margin-left: 40px;
}

.img_text02 .img_container01 .img_txt02 {
    position: relative;
}
.img_text02 .img_container01 .img_txt02 .img {
    width: 280px;
    height: 255px;
    background: url(../img/Product02.png) -30px -25px no-repeat;
}
.img_text02 .img_container01 .img_txt03 {
    position: relative;
}
.img_text02 .img_container01 .img_txt03 .img {
    width: 290px;
    height: 255px;
    background: url(../img/Product03.png) -50px -35px no-repeat;
}
.img_text02 .img_container02 {
    display: flex;
    justify-content: space-between;
    width: 1056px;
    margin: 0 auto;
    margin-top: 191px;
}
.img_text02 .img_container02 .img_txt01 {
    position: relative;
}
.img_text02 .img_container02 .img_txt01 .img {
    width: 250px;
    height: 270px;
    background: url(../img/Product04.png) 0 -10px no-repeat;
}
.img_text02 .img_container02 .img_txt02 {
    position: relative;
}
.img_text02 .img_container02 .img_txt02 .img {
    width: 270px;
    height: 280px;
    background: url(../img/Product05.png) -60px -30px no-repeat;
}
.img_text02 .img_container02 .img_txt03 {
    position: relative;
}
.img_text02 .img_container02 .img_txt03 .img {
    width: 265px;
    height: 270px;
    background: url(../img/Product06.png) 35px 0px no-repeat;
}

/* 푸터 */
#footer {
    margin-top: 1000px;
    height: 746px;
    background-color: #000;
}
